* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
}
.imga {
    height: 600px;
    width: 800px;
    border-radius: 10%;
    padding: 25px;
}
.text-upper {
    height: 150px;
    width: 150px;
}

.attribution {
    font-size: 14px;
    height: 100px;
    width: 200px;
}

