* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.containter.imge {
    height: 250px;
    width: 150px;
    border-radius: 75%;
}
.container.text-upper {
    height: 150px;
    width: 150px;

}

.container.attribution {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}